<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" th:src="@{/js/chart.js}" />
    <script th:inline="javascript">
/*<![CDATA[*/

        window.onload = function () {
            var chart = initLastBlocksChart("chartContainer", [[${size}]])
            var dataProvider = createBlockDataProvider()
            renderInitialDataSet(chart, dataProvider)

            var interval = {value: 1, unit: "minute"}
            scheduleChartUpdates(chart, dataProvider, interval)
        }

/*]]>*/
    </script>
</head>
<body>
<div id="chartContainer" style="height: 270px; width: 100%;"></div>
</body>
</html>